* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header styles */

header {
    height: 120px;
    justify-content: space-between;
    align-content: center;
    padding: 50px;
    color: rebeccapurple;
    margin-bottom: 15px;
    
}

.timer {
    float: right;
    text-align: right;
}

.high-score {
    float:left;
}

.high-score h2:hover {
    color: violet;
}


/* style all buttons */
.btn {
    min-width: 120px;
    max-width: 225px;
    height: 40px;
    border-radius: 15px;
    background-color: rebeccapurple;
    margin-top: 15px;
    padding: 10px;
    color: #fff;
}

.btn:hover {
    background-color: purple;
}


/* main content styles */

.game-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.current-question {
    width: 66%;
    font-weight: bold;
}

.timer {
    width: 33%;
}

/* initial view styles */
.intro {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.intro p {
    padding: 20px 0;
}



/* answer options styles */

.options {
    width: 100%;
}

.option-list {
    list-style: none;
}

.option-list-item {
    text-align: left;
    padding-left: 20px;
}

 

/* previous question results styles */
.previous-result {
    font-style: italic;
    color: grey;
}

hr {
    margin: 15px 0;
}

/* quiz end styles */
input {
    height: 40px;
    margin-right: 15px;
}

/* scoreboard styles */
.score-list {
    list-style: none;
}

.score-list li {
    padding: 15px 10px;
    font-size: 1.2em;
}

.score-list li:nth-child(even) {
    background-color: lavender;
}

.actions {
    display: flex;
    flex-direction: row;
}

.go-back {
    margin-right: 25px;
}

/* Mobile Styles */
@media screen and (max-width: 585px) {
    header {
        flex-wrap: wrap;
    }
    
    .high-score {
        font-size: .85em;
        flex: 3;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .timer {
        float: none;
        width: 100%;
        text-align: left;
    }
    
    .game-wrapper {
        margin-top: 30px;
    }
