* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header styles */

header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 50px 100px 50px 100px;
    color: rebeccapurple;
    margin-bottom: 15px;
}

.player-score, .high-score {
    flex: 1;
}

.high-score h2:hover {
    color: violet;
}

/* main content styles */

.game-wrapper {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.current-question {
    width: 66%;
    font-weight: bold;
}

.timer {
    width: 33%;
}

.intro {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.intro p {
    padding: 20px 0;
}

/* answer option styles */

.options {
    width: 100%;
}

.option-list {
    list-style: none;
}

.btn {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rebeccapurple;
    margin-top: 15px;
    padding-top: 10px;
    color: #fff;
}

.option-list-item {
    text-align: left;
    padding-left: 20px;
}

.btn:hover {
    background-color: purple;
} 

.previous-result {
    font-style: italic;
    color: grey;
}

hr {
    margin: 15px 0;
}



.score-list {
    list-style: none;
}

.score-list li {
    padding: 15px 10px;
    font-size: 1.2em;
}

.score-list li:nth-child(even) {
    background-color: lavender;
}